<div>
    <p>
        {{ question.text | striptags('<pre>') | raw}}
    </p>
    {% if message %}
        <p class="error-summary">
            {{ message }}
        </p>
    {% endif %}
    <div>
        {{ use('yii/widgets/ActiveForm') }}
        {% set form = active_form_begin({
            'id' : 'answers-form',
            'options' : {'class' : 'form-inline'},
        }) %}
        <ol>
        {% for id,answer in question.availableAnswers %}
            <li><input type="{% if question.multipleChoice %}checkbox{% else %}radio{% endif %}" name="AnswersForm[answers][]" value="{{ id }}" id="answer{{ id }}"> <label for="answer{{ id }}">{{ answer | striptags('<pre>') | raw }}</label></li>
        {% endfor %}
        </ol>
        <div class="form-group">
            <input type="submit" value="Go!" class="btn btn-primary"/>
            <input type="submit" value="Skip" class="btn btn-secondary"/>
        </div>
        {{ active_form_end() }}
    </div>
</div>