<div>
    <p>
        {{ question.text | striptags('<pre>') | raw}}
    </p>
    {% if message %}
        <p class="error-summary">
            {{ message }}
        </p>
    {% endif %}
    <div>
        {{ use('yii/widgets/ActiveForm') }}
        {% set form = active_form_begin({
            'id' : 'answers-form',
            'options' : {'class' : 'form-inline'},
        }) %}
        {% for id,answer in question.availableAnswers %}
            <p><input type="checkbox" name="AnswersForm[answers][]" value="{{ id }}"> {{ answer | striptags('<pre>') | raw }}</p>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="Go!" class="btn btn-primary"/>
        </div>
        {{ active_form_end() }}
    </div>
</div>